*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  border: 2px solid black;
  height: 700px;
}
.btn{
  height: 5vh;
}
.btn>button{
  width: 100%;
  height: 100%;
  background-color: rgb(188, 188, 188);
  font-weight: 500;
  font-size: 30px;
}
.hovering{
  background-color: hsl(0, 0%, 63%);
}