*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  border: 2px solid black;
  height: 700px;
}
.btn{
  height: 5vh;
}
.hovering{
  background-color: hsl(0, 0%, 63%);
}